certifi
charset-normalizer
contourpy
cycler
defusedxml
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
matplotlib
mpmath
networkx
#opencv-python-headless
pandas
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
six
#-e git+https://github.com/roboflow/supervision.git@8599345a3c00c26e7a05d7c81e23bf1d5cf8b8e2#egg=supervision
sympy
thop
tqdm
triton
tzdata
#ultralytics
urllib3
